@media (max-width: 1300px){ /* ------------------------------------------------- */
	.product__more{
		margin-top: 60px;
	}
		
}

@media (max-width: 1200px){ /* ------------------------------------------------- */

	.banner-section_slider-img{
		min-height: 380px;
		max-width: 600px;
	}
	.banner-section__inner{
		justify-content: space-evenly;
	}
	.banner-section__slider{
		max-width: 600px;
	}

	.categories__inner{
		justify-content: space-around;
	}

	.banner-link img{
		width: 100%;
	}

	.catalog__inner-list{
		justify-content: space-around;
	}

}

@media (max-width: 1160px){

	.catalog__inner-list{
   justify-content: space-evenly;
	}

	.catalog__inner-list .product-item__wrapper{
		margin-right: 5px;
		margin-left: 5px;
	}
}

@media (max-width: 1150px){
	.catalog__inner-list .product-item__wrapper{
		margin-right: 0px;
	}
}

@media (max-width: 1100px){ /* ------------------------------------------------- */

	.menu__item + .menu__item{
		padding-left: 20px;
  }
  
	.header__adress{
		margin-right: 20px;
		width: 265px;
		padding-left: 30px;
		position: relative;
	}

	.categories__inner{
		justify-content: space-evenly;
}

	.product-slider__slider-btn.product-slider__slider-btnnext.slick-arrow img,
	.product-slider__slider-btn.product-slider__slider-btnprev.slick-arrow img{
		display: none;
	}

	.product-item__wrapper{
		margin: 0 auto;
	}

}

@media (max-width: 968px){ /* ------------------------------------------------- */

	.header__bottom{
		display: none;
  }

	.menu__list{
		display: none;
  }

	.menu__btn{
		display: block;
		background-color: transparent;
		cursor: pointer;
		border: none;
		padding: 0;
  }

	.menu__btn-line{
		width: 34px;
		height: 27px;
	}
	
	.menu__mobile-linewrapper{
		display: block;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #2F3035;
		font-family: 'SF Pro Display', sans-serif;
		background: #F0F0F4;
		overflow-x: scroll;
		margin-bottom: 20px;
	}
	
	.menu__mobile-line{
		padding: 14px 14px 14px 15px;
    width: 100%;
    text-align: center;
	}
	.banner-section__inner{
		margin-top: 25px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.banner-section__slider-item{
		text-align: center;
	}

	.banner-section__slider{
		max-width: 100%;
	}
	.banner-section_slider-img{
		max-width: 100%;
		margin-bottom: 25px;
	}
	.banner-section__slider-btn{
		display: none;
	}

	.mobile-overflow{
		width: 820px;
		display: block;
	}

	.mobile-overflow--top{
		display: flex;
		width: 820px;
		overflow-x: scroll;
		font-size: 18px;
		justify-content: flex-start;
	}	
	
	.catalog__filter-itemsinner, 
	.tabs-wrapper, 
	.breadcrumbs__inner{
		overflow-x: scroll;
		display: block;
	}

	.tabs-wrapper.tabs-wrapper--no-scroll{
		overflow: hidden;
	}

	.product-card__inner{
		flex-wrap: wrap;
	}

	.product-card__tabs{
		display: none;
	}

	.product-card__content{
		order: -1;
	}

	.product-card__btn-mobile{
		display: block;
		margin-top: 40px;
	}

	.product-card__img-box{
		width: 100%;
	}

	.breadcrumbs{
    margin-bottom: 20px;
	}
}

@media (max-width: 940px){ /* ------------------------------------------------- */

	.footer__top-inner{
		flex-wrap: wrap;
		justify-content: space-around;
	}	

	.footer__top-item{
		margin-bottom: 25px;
	}

	.catalog__filter-btn{
		margin-top: 30px;
	}

	.catalog__filter-btn button{
		display: none;
	}

	.catalog__filter{
		display: block;
	}

	.card__top-line label{
		display: block;
		width: 100%;
		margin-top: 25px;
		margin-left: 0;
	}
	
	.card__list-item{
		display: block;
	}
		
	.card__list-item div{
		margin-bottom: 15px;
	}
	
	.card__list-itemtitle{
		display: none;
	}

	.card__input-search{
		width: 70%;
	}

	.card__top-line .card__label-search{
		display: inline;
	}

	.card__list-available{
		display: inline-block;
		width: 116px;
		margin-right: 0;
	}

	.card__list-address-num{
		display: inline-block;
		width: 20px;
		text-align: right;
		margin-right: 0;
	}

}


@media (max-width: 640px){ /* ------------------------------------------------- */

	.logo__img--small{
		display: inline;
	}

	.logo__img{
		display: none;
	}

	.banner-section_slider-img{
		min-height: 200px;

	}

	.banner-section .container{
		padding: 0;
	}

	.search__content-btn{
		font-size: 0;
		line-height: 0;
		background-color: transparent;
		background-image: url('../images/search.svg');
		background-repeat: no-repeat;
		width: 24px;
		height: 24px;
		position: absolute;
		right: 8px;
		top: 13px;
		padding: 0;
	}

	.search__content-input{
		height: 50px;
		padding-right: 50px;
	}

	.search__content-form{
		position: relative;
	}

	.banner-link img{
		min-height: 90px;
		object-fit: contain;
	}

	.catalog__inner{
		flex-wrap: wrap;
	}

	.aside__btn{
		display: block;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		padding: 15px 0;
		width: 100%;
		color: #fff;
		background-color: #1C62CD;
		margin-bottom: 30px;
	}

	.aside-filter{
		display: none;
	}

	.product-card__title{
		font-size: 20px;
		line-height: 24px;
	}

	.product-card__buttons a + a{
		margin-left: 10px;
	}

	.jq-ry-container{
		padding: 0;
	}

	.product-card__img{
		width: 100%;
	}
	
	.header__adress{
		display: none;
	}

}

@media (max-width: 540px){ /* ------------------------------------------------- */

	.footer__top-item{
		width: 100%;
	}
	
	.footer_bottom{
		flex-direction: column;
		align-items: start;
	}
		
	.footer_bottom-link{
		margin: 10px 0;
	}

	.footer__top-inner{
		justify-content: start;
	}

	.footer__top-social.footer__top-item{
		width: 100%;
		border-bottom: none;
	}
	.footer__top-newsletter.footer__top-item{
		margin-right: auto;
		margin-left: auto;
		width: 290px;
		text-align: center;
	}

	.social-list{
		justify-content: center;
	}

	.footer-list{
		display: none;
	}

	.footer__top-title.footer__topdrop{
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: #7F7F7F;
		padding: 15px 0;
	}
	
	.footer__top-item{
		border-bottom: 2px solid #f9f9fc;
	}

	.footer__top-itemdrop{
		margin-bottom: 0;
	}

	.footer__topdrop{
		position: relative;
	}

	.footer__topdrop::after{
		position: absolute;
		content: "";
		background-image: url('../images/arrow-down.svg');
    position: absolute;
    right: 0;
    top: 21px;
    width: 12px;
    height: 8px;
	}
	.footer__topdrop--active::after{
		transform: rotate(180deg);
	}

	.footer__topdrop{
		pointer-events: auto;
	}

	.products, .banner{
		margin-bottom: 40px;
	}

		.footer__top-item.footer__top-itemdrop ul {
		margin-bottom: 10px;
	}

}

@media (max-width: 440px){ /* ------------------------------------------------- */

	.banner-section_slider-img{
		min-height: 164px;
	}

	.categories__item{
		padding: 20px 10px 16px;
	}

	.pagintation-list__item{
		margin: 0;
	}

	.user-list{
		margin-right: 0;
	}

}

@media (max-width: 400px){
	.menu__mobile-line{
		padding: 14px 0px 14px 15px;
		width: 410px;
	}
	
	.menu__mobile-line{
		text-align: left;
	}

	.footer__top-newsletter.footer__top-item{
		text-align: left;
		margin: 0;
	}

	.footer-form{
		margin-top: 25px;
		margin-bottom: 25px;
	}

}

@media (max-width: 330px){ /* ------------------------------------------------- */
	.card__input-search{
		margin-left: 0;
		width: 100%;
		margin-top: 5px;
	}
}